body {
    background-color:lightgray;
}

h1 {
    background-color: black;
    color: white;
    text-align:center;
}

.profile-image {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 30px;
}

#profile-name{
    font-size: 18px;
    color:black;
}

.centered{
    text-align:center;

}

.img-div{
    background-color:lightgreen;
}

.text-div{
    background-color:lightsalmon;
    float:left;
    width:33%;
}

.list-div{
    background-color: peru;
    float:left;
    width:33%;
}